<div class="main-content">
    <h1>Recent News</h1>

    <div class="row">
      <div class="column" style="background-color:#aaa;">
        <h2>21st Oct 2018</h2><br />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae lectus convallis, suscipit neque pulvinar, hendrerit felis. Sed a feugiat sem, ac gravida nulla. Phasellus suscipit placerat urna 
          at sodales. Aliquam consequat, velit non bibendum aliquam, elit metus varius tellus, et sagittis velit libero quis risus.
        </p>
      </div>

      <div class="column" style="background-color:#bbb;">
        <h2>28th August 2018</h2><br />
        <p>
          Nullam tempor rhoncus lacinia. In sed tortor at eros sollicitudin tempor malesuada ut neque. Sed quis ornare velit. Sed vitae dui eget quam mollis sollicitudin at eu elit. Nullam tempor rhoncus lacinia. 
          In sed tortor at eros sollicitudin tempor malesuada ut neque. Sed quis ornare velit. Sed vitae dui eget quam mollis sollicitudin at eu elit. Nullam tempor rhoncus lacinia. In sed tortor at eros sollicitudin.
        </p>
      </div>

      <div class="column" style="background-color:#aaa;">
        <h2>21st July 2018</h2><br />
        <p>
          Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque porttitor, sapien facilisis tempor aliquet, eros orci interdum leo, a tristique diam urna id nisi. 
          Suspendisse semper nec mauris eget lobortis. Vestibulum gravida gravida iaculis.
        </p>
      </div>

      <div class="column" style="background-color:#aaa;">
        <h2>1st June 2018</h2><br />
        <p>
          Praesent ac sollicitudin felis. Donec sed augue imperdiet, tristique ligula nec, sodales arcu. Sed non tincidunt ante. Aenean orci nunc, consequat sed libero id, feugiat fermentum nunc. Cras feugiat nunc vel
          nisi molestie, id auctor ligula suscipit. Aenean commodo, ipsum nec imperdiet congue.
        </p>
      </div>

      <div class="column" style="background-color:#bbb;">
        <h2>20th May 2018</h2><br />
        <p>
            Cras sed euismod massa. Phasellus feugiat ante nisi, nec ullamcorper lectus bibendum et. Donec sed quam sed mi elementum tincidunt. Nam at euismod urna. Nullam posuere libero quam, eget aliquet est 
            euismod a. Morbi vel orci turpis. Morbi enim nunc, ultrices ac laoreet sed, bibendum porta leo. Ut vitae sem metus. Morbi in venenatis risus, id fringilla quam. 
        </p>
      </div>

      <div class="column" style="background-color:#aaa;">
        <h2>21st Oct 2017</h2><br />
        <p>
            Vestibulum dignissim mi et elit ullamcorper dapibus. Duis auctor justo sed lectus aliquet, a ullamcorper velit consequat. Curabitur vel condimentum neque. Nunc dapibus sem sit amet dapibus sagittis. 
            Donec condimentum, justo viverra tempor cursus, elit erat molestie elit, eget vulputate eros enim in arcu.
        </p>
      </div>
    </div>

    <button class="register" type="submit" disabled>View More</button>
    
    <br />
</div>
  