<div class="main-content">
  <h1>Our Routes</h1>

  <div class="row">
    <div class="column">
      <h2>Morar</h2>
      <p>Click <a [routerLink]="['/routes/morar']">here</a> to read about Morar</p>
      <img src="../../../assets/images/morarBay.jpg" alt="Morar Bay">
      <h5>Morar Bay</h5>

      <h2>Muck</h2>
      <p>Click <a [routerLink]="['/routes/muck']">here</a> to read about Muck</p>
      <img src="../../../assets/images/isleOfMuck.jpg" alt="Isle of Muck">
      <h5>Isle of Muck</h5>

    </div>
    <div class="column">
      <h2>Rum</h2>
      <p>Click <a [routerLink]="['/routes/rum']">here</a> to read about Rum</p>
      <img src="../../../assets/images/rumPier.jpg" alt="Rum Pier">
      <h5>Rum Pier</h5>

      <h2>Eigg</h2>
      <p>Click <a [routerLink]="['/routes/eigg']">here</a> to read about Eigg</p>
      <img src="../../../assets/images/eiggWelcome.jpg" alt="Welcome to Eigg">
      <h5>Welcome to Eigg</h5>

    </div>
  </div>
</div>
  