<div class="main-content">
  <h1>Welcome To Alba Wildlife Cruises</h1>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis libero non ex vulputate, nec consectetur ante vestibulum. Sed ac vestibulum ex, at semper velit. Maecenas molestie maximus venenatis. 
    Vestibulum volutpat lectus purus, at tempus magna volutpat vel. In pellentesque leo vitae dolor pretium, in ullamcorper leo volutpat. Proin vitae purus ut purus dignissim consequat ac nec ante. In pulvinar 
    ante quam, eu tempor felis hendrerit a.
  </p>
  <br />
  <p>
    Vestibulum commodo finibus nunc cursus congue. Sed placerat ornare eros ut dapibus. Phasellus vitae vulputate dui. Etiam faucibus, odio vel aliquam pharetra, nisl nisl porttitor nisi, at porttitor nunc neque 
    vitae arcu. Suspendisse convallis risus et velit condimentum tempor. Praesent condimentum augue ac tellus cursus elementum. Suspendisse eu rutrum nunc, at accumsan nulla. Phasellus suscipit elit eros, 
    vel pharetra felis imperdiet in. Phasellus in tortor varius, scelerisque orci id, condimentum orci. Vestibulum consequat tellus ipsum, vel lacinia urna posuere vel. Pellentesque dignissim nisi at est suscipit interdum. 
    Vivamus sodales velit vitae tellus placerat vehicula.
  </p>
  <br />

  <img src="../../../assets/images/mapPlaceholder.png" alt="Map of Morar, Rum, Muck and Eigg">
  <h5>Map of Morar, Rum, Muck and Eigg</h5>

  <br />
  <p>
    Maecenas tincidunt, sem nec commodo porta, lectus sem congue erat, fermentum cursus elit purus sed dui. Sed euismod egestas ligula in molestie. Curabitur vestibulum mauris ut diam hendrerit, eget venenatis 
    neque consectetur. Praesent euismod turpis sem, at fermentum nisi tristique ut. Proin porta, ante sit amet pretium consectetur, arcu ante congue ipsum, quis molestie felis ipsum et nisi. Donec sodales leo lorem. 
    Praesent vestibulum tempus erat, sed imperdiet elit tincidunt eu.
  </p>
  <br />
  <p>
    Sed venenatis quis nulla non mollis. Nam sed volutpat quam. Etiam ac lectus porta, bibendum purus a, vulputate lectus. Sed congue sollicitudin condimentum. Aenean eget nisi nec nunc egestas vulputate et egestas 
    magna. Duis dapibus ut ipsum a porta. Nulla sed tellus est. Integer porta nisi id elit condimentum, at rhoncus turpis elementum. Vivamus mollis, massa sit amet lobortis mattis, magna lorem fermentum lacus, ac 
    bibendum quam mauris sit amet massa. Curabitur mauris augue, faucibus nec ipsum a, malesuada rhoncus turpis. Donec tellus nibh, varius in neque eget, facilisis dictum dui. In dapibus dictum interdum. Curabitur 
    blandit facilisis imperdiet.
  </p>
  <br />
</div>
