<navbar></navbar>

<router-outlet></router-outlet>

<footer>
    <h4>Copyright &copy; Alba Cruises 2018 | <a href="https://allusinteractive.myportfolio.com" target="_blank">Web Design by RW Morgan</a></h4>
    <h4><a [routerLink]="['/terms-and-conditions']">Terms & Conditions</a></h4>

    <ul>
        <li><a target="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a></li>
        <li><a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter-square"></i></a></li>
        <li><a target="_blank" href="https://www.snapchat.com/l/en-gb/"><i class="fab fa-snapchat-square"></i></a></li>
        <li><a target="_blank" href="https://plus.google.com/discover"><i class="fab fa-google-plus-square"></i></a></li>
        <li><a target="_blank" href="https://www.linkedin.com"><i class="fab fa-linkedin"></i></a></li>
    </ul>
</footer>