<div class="main-content">
    <h1><span class="pull-left teenie"><a [routerLink]="['/routes']">Back</a></span>Rum</h1>

    <p>
      Rum is... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a feugiat libero. Nam aliquet, diam eget imperdiet volutpat, sapien quam convallis risus, vel condimentum diam mi eget felis. Curabitur gravida 
      dictum elementum. Vivamus purus risus, porta quis luctus et, posuere eu risus. Pellentesque in imperdiet nulla. Nullam feugiat nibh vel vulputate tempus. Quisque et commodo diam, nec tincidunt magna. Pellentesque 
      ut viverra ante. Aenean nec nibh elit. Nulla volutpat in lectus sed aliquam. Curabitur nec est ligula. Vivamus egestas justo cursus arcu vehicula, et mollis augue lobortis.
    </p>
    <br />
    <p>
      Vivamus nec elit non nulla dictum tristique tempus eget enim. Pellentesque ut leo at lacus mattis facilisis pharetra eu orci. Praesent finibus lorem ut venenatis pulvinar. Donec sed odio ut ligula egestas imperdiet eu ac mi. 
      In malesuada vulputate tortor, gravida suscipit justo. Nullam pharetra urna ligula, vel ornare sapien faucibus et. Donec finibus augue risus, nec scelerisque lorem vestibulum quis. Vestibulum viverra blandit vulputate. 
      Nulla et nulla massa.
    </p>
    <br />
    <p>
      In euismod, justo a fringilla commodo, dui sapien ornare diam, in pulvinar nisi elit ac justo. Integer tristique tellus vitae ante vulputate semper. Maecenas euismod eu massa non sodales. In sit amet vulputate velit, eget 
      euismod dui. Nam tempus aliquet sapien, quis viverra est cursus eget. Donec aliquet gravida enim, eu scelerisque nisi dapibus rutrum. In rutrum pharetra rutrum. Sed fringilla cursus fermentum. Maecenas nec lorem est. 
      Sed porttitor odio ex, a consectetur tortor euismod a. Suspendisse potenti. Fusce mollis lorem id risus mattis, id mollis libero consectetur. Donec fermentum quam et magna fermentum, non sagittis arcu tempor. Fusce 
      congue pharetra mauris et sagittis. Quisque sollicitudin erat et rhoncus ultrices.
    </p>
    <br />

    <img src="../../../assets/images/rumPier.jpg" alt="Rum Pier">
    
  </div>