<div class="main-content">
  <h1>Alba Cruises Terms and Conditions</h1>

  <ol>
    <li><strong>LOREM IPSUM</strong>
      <ol>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae lectus convallis, suscipit neque pulvinar, hendrerit felis. Sed a feugiat sem, ac gravida nulla. </li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
        <li>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque porttitor, sapien facilisis tempor aliquet, eros orci interdum leo, a tristique diam urna id nisi.</li>
        <li>Praesent ac sollicitudin felis. Donec sed augue imperdiet, tristique ligula nec, sodales arcu. Sed non tincidunt ante. Aenean orci nunc, consequat sed libero id, feugiat fermentum nunc.</li>
      </ol>
    </li>
    <br />

    <li><strong>PHASELLUS AMET</strong>
      <ol>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae lectus convallis, suscipit neque pulvinar, hendrerit felis. Sed a feugiat sem, ac gravida nulla. </li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
      </ol>
    </li>
    <br />

    <li><strong>VESTIBULUM</strong>
      <ol>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae lectus convallis, suscipit neque pulvinar, hendrerit felis. Sed a feugiat sem, ac gravida nulla. </li>
        <li>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque porttitor, sapien facilisis tempor aliquet, eros orci interdum leo, a tristique diam urna id nisi.</li>
        <li>Praesent ac sollicitudin felis. Donec sed augue imperdiet, tristique ligula nec, sodales arcu. Sed non tincidunt ante. Aenean orci nunc, consequat sed libero id, feugiat fermentum nunc.</li>
      </ol>
    </li>
    <br />

    <li><strong>CRAS SED EUISMOD MASSA</strong>
      <ol>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae lectus convallis, suscipit neque pulvinar, hendrerit felis. Sed a feugiat sem, ac gravida nulla. </li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam posuere libero quam, eget aliquet est euismod a. Morbi vel orci turpis. Morbi enim nunc, ultrices ac laoreet sed, bibendum porta leo. Ut vitae sem metus.  </li>
        <li>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque porttitor, sapien facilisis tempor aliquet.</li>
        <li>Praesent ac sollicitudin felis. Donec sed augue imperdiet, tristique ligula nec, sodales arcu. Sed non tincidunt ante. Aenean orci nunc, consequat sed libero id, feugiat fermentum nunc.</li>
      </ol>
    </li>
    <br />

    <li><strong>LOREM IPSUM</strong>
      <ol>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae lectus convallis, suscipit neque pulvinar, hendrerit felis. Sed a feugiat sem, ac gravida nulla. </li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
        <li>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque porttitor, sapien facilisis tempor aliquet, eros orci interdum leo, a tristique diam urna id nisi.</li>
        <li>Praesent ac sollicitudin felis. Donec sed augue imperdiet, tristique ligula nec, sodales arcu. Sed non tincidunt ante. Aenean orci nunc, consequat sed libero id, feugiat fermentum nunc.</li>
      </ol>
    </li>
    <br />

    <li><strong>PHASELLUS AMET</strong>
      <ol>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae lectus convallis, suscipit neque pulvinar, hendrerit felis. Sed a feugiat sem, ac gravida nulla. </li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
      </ol>
    </li>
    <br />

    <li><strong>VESTIBULUM</strong>
      <ol>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae lectus convallis, suscipit neque pulvinar, hendrerit felis. Sed a feugiat sem, ac gravida nulla. </li>
        <li>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque porttitor, sapien facilisis tempor aliquet, eros orci interdum leo, a tristique diam urna id nisi.</li>
        <li>Praesent ac sollicitudin felis. Donec sed augue imperdiet, tristique ligula nec, sodales arcu. Sed non tincidunt ante. Aenean orci nunc, consequat sed libero id, feugiat fermentum nunc.</li>
      </ol>
    </li>
    <br />

    <li><strong>CRAS SED EUISMOD MASSA</strong>
      <ol>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae lectus convallis, suscipit neque pulvinar, hendrerit felis. Sed a feugiat sem, ac gravida nulla. </li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam posuere libero quam, eget aliquet est euismod a. Morbi vel orci turpis. Morbi enim nunc, ultrices ac laoreet sed, bibendum porta leo. Ut vitae sem metus.  </li>
        <li>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque porttitor, sapien facilisis tempor aliquet.</li>
        <li>Praesent ac sollicitudin felis. Donec sed augue imperdiet, tristique ligula nec, sodales arcu. Sed non tincidunt ante. Aenean orci nunc, consequat sed libero id, feugiat fermentum nunc.</li>
      </ol>
    </li>
    <br />

    <li><strong>LOREM IPSUM</strong>
      <ol>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae lectus convallis, suscipit neque pulvinar, hendrerit felis. Sed a feugiat sem, ac gravida nulla. </li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
        <li>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque porttitor, sapien facilisis tempor aliquet, eros orci interdum leo, a tristique diam urna id nisi.</li>
        <li>Praesent ac sollicitudin felis. Donec sed augue imperdiet, tristique ligula nec, sodales arcu. Sed non tincidunt ante. Aenean orci nunc, consequat sed libero id, feugiat fermentum nunc.</li>
      </ol>
    </li>
    <br />

    <li><strong>PHASELLUS AMET</strong>
      <ol>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae lectus convallis, suscipit neque pulvinar, hendrerit felis. Sed a feugiat sem, ac gravida nulla. </li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
      </ol>
    </li>
    <br />

    <li><strong>VESTIBULUM</strong>
      <ol>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae lectus convallis, suscipit neque pulvinar, hendrerit felis. Sed a feugiat sem, ac gravida nulla. </li>
        <li>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque porttitor, sapien facilisis tempor aliquet, eros orci interdum leo, a tristique diam urna id nisi.</li>
        <li>Praesent ac sollicitudin felis. Donec sed augue imperdiet, tristique ligula nec, sodales arcu. Sed non tincidunt ante. Aenean orci nunc, consequat sed libero id, feugiat fermentum nunc.</li>
      </ol>
    </li>
    <br />

    <li><strong>CRAS SED EUISMOD MASSA</strong>
      <ol>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae lectus convallis, suscipit neque pulvinar, hendrerit felis. Sed a feugiat sem, ac gravida nulla. </li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam posuere libero quam, eget aliquet est euismod a. Morbi vel orci turpis. Morbi enim nunc, ultrices ac laoreet sed, bibendum porta leo. Ut vitae sem metus.  </li>
        <li>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque porttitor, sapien facilisis tempor aliquet.</li>
        <li>Praesent ac sollicitudin felis. Donec sed augue imperdiet, tristique ligula nec, sodales arcu. Sed non tincidunt ante. Aenean orci nunc, consequat sed libero id, feugiat fermentum nunc.</li>
      </ol>
    </li>
    <br />

    <li><strong>LOREM IPSUM</strong>
      <ol>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae lectus convallis, suscipit neque pulvinar, hendrerit felis. Sed a feugiat sem, ac gravida nulla. </li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
        <li>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque porttitor, sapien facilisis tempor aliquet, eros orci interdum leo, a tristique diam urna id nisi.</li>
        <li>Praesent ac sollicitudin felis. Donec sed augue imperdiet, tristique ligula nec, sodales arcu. Sed non tincidunt ante. Aenean orci nunc, consequat sed libero id, feugiat fermentum nunc.</li>
      </ol>
    </li>
    <br />

    <li><strong>PHASELLUS AMET</strong>
      <ol>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae lectus convallis, suscipit neque pulvinar, hendrerit felis. Sed a feugiat sem, ac gravida nulla. </li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
      </ol>
    </li>
    <br />

    <li><strong>VESTIBULUM</strong>
      <ol>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae lectus convallis, suscipit neque pulvinar, hendrerit felis. Sed a feugiat sem, ac gravida nulla. </li>
        <li>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque porttitor, sapien facilisis tempor aliquet, eros orci interdum leo, a tristique diam urna id nisi.</li>
        <li>Praesent ac sollicitudin felis. Donec sed augue imperdiet, tristique ligula nec, sodales arcu. Sed non tincidunt ante. Aenean orci nunc, consequat sed libero id, feugiat fermentum nunc.</li>
      </ol>
    </li>
    <br />
  </ol>
  
</div>